:root{
    --font-family: 'Chakra Petch', sans-serif;

    --font-violet: #110038 ;
    --font-white: #FFFFFF ;
    --font-grey: #B4B4B4 ;

    /* COLOR */
    --gradient-day: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    --gradient-night:  linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);

    --button-color-day-pink1:#F7C9F3 ;
    --button-color-day-pink2:#E6BBE2  ;
    --button-color-day-blue1:#4180F6 ;
    --button-color-day-blue2: #3A72DB ;

    --button-color-night: #EE3EFE ;
    --buton-color-night2:#2E32FB ;
}