/* HEADER */

#logoMisGuifos a{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 134px;
    margin-left: 60px ;
    margin-top: 35px;
    margin-bottom: 75px;
}

#logoMisGuifos a :first{
    width: 24px;
}

/* VENTANA CREAR GUIFOS */

#crearGuifos{
    display: flex;
    justify-content: center;
}

#windowCrearGuifos{
    padding: 3px;
    width: 684px;
    height: 386px;
}

/* PASO 1- CREAR GUIFOS */

#misGuifosUno{
    font-size: 14px;
    color: var(--font-violet);
    letter-spacing: 0;
    line-height: 20px;
}

#misGuifosUnoTitle {    
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    display: flex;
    padding-left:25px ;
    padding-top: 30px ;
}

#misGuifosUnoTitle img{
    margin-right: 16px;
    height: 32px;
    margin-bottom: 7px;
}

#misGuifosUnoText{   
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 518px;
    justify-content: space-between;
    margin-left: 73px ;
}

#misGuifosUnoText ol{
    list-style-position: inside;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
    counter-reset: list;
}

#misGuifosUnoText  ol li{
    list-style: none;
}

#misGuifosUnoText  ol li:before{
    font-weight: bold;
    content: counter(list) ") ";
    counter-increment: list;
}

#misGuifosUnoBtn{
    display: flex;
    justify-content: flex-end;
    padding-right: 36px;
    padding-top: 28px;
}

#misGuifosUnoBtn button{
    width: 144px;
    height: 36px;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    color: var(--font-violet);
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    margin-left: 16px; 
}

#misGuifosUnoBtn button:first-child{
    background: #FFF4FD;
}
